.informations {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("/back-footer.webp") center/cover no-repeat;
  padding: 8rem 2rem;
  text-align: center;

  &__container {
    max-width: 700px;
    margin: 0 auto;
    background: transparent;
    padding: 2rem;
    border-radius: 1rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #fff;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1rem;
    color: #fff;
  }

  &__item {
    a {
      color: #007bff;
      text-decoration: underline;
      transition: color 0.3s;
      font-weight: bold;

      &:hover {
        color: #0056b3;
      }
    }
  }
}
